<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appnouncements.sdk" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".ui.ReleaseNotesActivity" android:theme="@style/Theme.Appnouncements.Light.Toolbar" />
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />
    </application>
</manifest>
